<div>
<h1>Calculate Monthly Payment</h1>
<form action = "/payment/results">
<div><label for = "apr">APR</label>
<input id = "apr" name = "apr" placeholder = "E.g. 5.3"></div>
<div><label for = "years">Number of Years</label>
<input id = "years" name = "years" placeholder = "How many years to repay?"></div>
<div><label for = "principal">Principal</label>
<input id = "principal" name = "principal" placeholder = "How much principal?"></div>
<div>
<button>Calculate Monthly Payment</button>
</div>
</div>
