<div>
<h1>Generate Random Number</h1>
<form action = "/random/results">
<div><label for = "min">Minimum</label>
<input id = "min" name = "min" placeholder = "E.g. 1.2"></div>
<div><label for = "max">Maximum</label>
<input id = "max" name = "max" placeholder = "E.g. 3.5"></div>
<div>
<button>Pick Random Number</button>
</div>
</div>
