<div>
<h1>Calculate Square</h1>
<form action = "/square/results">
<label for = "number">Enter a number</label>
<input id = "number" name = "number" placeholder = "What number do you want to square?">
<div>
<button>Calculate Square</button>
</div>
</div>
